
              html{
            scroll-behavior: smooth;
        }
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .carousel-caption {
            padding-bottom: 130px;
        }

        .btn-primary {
            color: #fff;
            background: linear-gradient(179.54deg, #748FEF 0.39%, #000000 235.62%);
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            transition: 0.7s;
        }

        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary.active,
        .open>.dropdown-toggle.btn-primary {
            color: #fff;
            background: linear-gradient(179.54deg, rgba(116, 143, 239, 0.75) 0.39%, rgba(0, 0, 0, 0.75) 235.62%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }


        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .carousel-caption {
            padding-bottom: 130px;
        }

        .vv {
            color: rgba(0, 0, 0, 0.54);
            font-family: Montserrat;
            font-size: 23px;
            text-decoration: underline;

        }

        .vv:hover {
            color: #465791;
            /* Добавляем подчеркивание */
            text-decoration: underline;
            transition: 0.7s;

        }

        .tab-text {
            color: white;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: bold;
        }

        .tab-text:hover {
            /* Цвет ссылки при наведении на нее курсора мыши */
            text-decoration: underline;
            /* Добавляем подчеркивание */
            transition: 0.7s;
        }

        /* .btn-primary {
    color: #fff;
    background: linear-gradient(179.54deg, #748FEF 0.39%, #000000 235.62%);
    border-color: none;

    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    margin: auto;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background: linear-gradient(179.54deg, rgba(116, 143, 239, 0.75) 0.39%, rgba(0, 0, 0, 0.75) 235.62%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: none;
    transition: 0.7s;
} */


        .nav-pills .nav-item.show .nav-link,
        .nav-pills .nav-link.active {
            color: #007BFF;
            background: none;
            text-decoration: underline;
        }


        .imgFarma {
            width: 50%;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            margin: auto;
            padding: 10px
        }

        .card {
            border-radius: 40px;
        }

        .card-body {
            background-color: #F1F8FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 20px 20px;
        }


        .map-container-5 {
            overflow: hidden;
            padding-bottom: 90%;
            position: relative;
            height: 0;
        }

        .map-container-5 iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }


        .timeline {
            border-left: 3px solid #727cf5;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            background: rgba(114, 124, 245, 0.09);
            margin: 0 auto;
            letter-spacing: 0.2px;
            position: relative;
            line-height: 1.4em;
            font-size: 1.03em;
            padding: 50px;
            list-style: none;
            text-align: left;
            max-width: 40%;
        }

        @media (max-width: 767px) {
            .timeline {
                max-width: 98%;
                padding: 25px;
            }
        }

        .timeline h1 {
            font-weight: 300;
            font-size: 1.4em;
        }

        .timeline h2,
        .timeline h3 {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .timeline .event {
            border-bottom: 1px dashed #e8ebf1;
            padding-bottom: 25px;
            margin-bottom: 25px;
            position: relative;
        }

        @media (max-width: 767px) {
            .timeline .event {
                padding-top: 30px;
            }
        }

        .timeline .event:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
        }

        .timeline .event:before,
        .timeline .event:after {
            position: absolute;
            display: block;
            top: 0;
        }

        .timeline .event:before {
            left: -207px;
            content: attr(data-date);
            text-align: right;
            font-weight: 100;
            font-size: 0.9em;
            min-width: 120px;
        }

        @media (max-width: 767px) {
            .timeline .event:before {
                left: 0px;
                text-align: left;
            }
        }

        .timeline .event:after {
            -webkit-box-shadow: 0 0 0 3px #727cf5;
            box-shadow: 0 0 0 3px #727cf5;
            left: -55.8px;
            background: #fff;
            border-radius: 50%;
            height: 9px;
            width: 9px;
            content: "";
            top: 5px;
        }

        @media (max-width: 767px) {
            .timeline .event:after {
                left: -31.8px;
            }
        }

        .rtl .timeline {
            border-left: 0;
            text-align: right;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border-right: 3px solid #727cf5;
        }

        .rtl .timeline .event::before {
            left: 0;
            right: -170px;
        }

        .rtl .timeline .event::after {
            left: 0;
            right: -55.8px;
        }


        #upbutton {
        height: 60px;
        width: 60px;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
        display: none;
        position: fixed;
        z-index: 999;
      }


      #toTop {
width:60px;
height:60px;

text-align:center;
padding:5px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color:#333;
font-family:verdana;
font-size:11px;
border-radius:53.5px;
text-align: center;
}
