{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial -scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/lamp.css' %}">
        <link rel="stylesheet" href="{% static 'css/self.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
          <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    </head>
    <body>
        <header class="header__wrapper indent">
            <div class="header__title">
                <a href="{% url 'index' %}">
                   {% load static %} <img src="{% static '/img/logo.jpeg' %}">
                </a>
            </div>
            <div class="header__menu">
                <ul>
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Проекты</a>
                        <div class="dropdown-content">
                        <a href="{% url 'lamptype1' %}"> Навесные Лампы</a>
                        <a href="{% url 'lamptype2' %}"> Подвесные Лампы</a>
                        <a href="{% url 'lamptype3' %}"> Настольные Лампы</a>
                       </div>
                    </li>
                    <li><a href="{% url 'self' %}">О Владельце</a></li>
                    <li><a href="{% url 'contact' %}">Связаться</a></li>
                </ul>
            </div>
        </header>

{% block maincontent %}

{% endblock %}
<footer>
        <div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <img src="{% static '/img/logo.jpeg' %}">
               </div>
            </div>
            <div class="col-md-6 px-4">
               <h6> О Компании</h6>
               <h2>Какое то короткое описание или фраза.</h2>
               
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <a href="{% url 'index' %}">Главная</a>
                        <li><a href="{% url 'self' %}">О Владельце</a></li>
                        <li> <a href="{% url 'contact' %}"> Связаться</a> </li>
                     </ul>
                  </div>
                   <a href="https://www.instagram.com/light_brillar/">
                    <img class="link" src="{% static '/img/instagram.png' %}" alt="fd">
                       </a>
                   <a href="https://www.tiktok.com/@light_brillar?_d=secCgYIASAHKAESMgowNlLZ%2BNGBjlzRzwiMWy7qyfXEks4GBkgCL8u%2FVEVVTFgRpC4aqcHsCKcLFbF8nE2HGgA%3D&_r=1&language=ru&sec_uid=MS4wLjABAAAAmSwsQdZ5UYi1NFUsOKLSGWQwm9jOPMPUe_O7_8Xzn8W9AK7Yb1GZVarJf1v_a_Zm&sec_user_id=MS4wLjABAAAAmSwsQdZ5UYi1NFUsOKLSGWQwm9jOPMPUe_O7_8Xzn8W9AK7Yb1GZVarJf1v_a_Zm&share_app_id=1233&share_author_id=6956270703441609734&share_link_id=CEA93FDB-2CAD-488F-9443-4E0C89ABD1F2&source=h5_m&tt_from=more&u_code=di9i7f33bilkl7&user_id=6956270703441609734&utm_campaign=client_share&utm_medium=ios&utm_source=more">
                   <img class="link" src="{% static '/img/tiktok-logo.svg' %}">
                       </a>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>

        </footer>
    </body>
</html>